.containerCreateCard {
  height: 81vh;
}

.buttonMenuContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.buttonMenu {
  background-color: #002776;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  padding: 10px;
  width: 200px;
}

.createCard {
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
}